.alert {
  border: 1px solid black;
  border-radius: 10px !important;
  bottom: 0 !important;
  position: fixed !important;
  right: 20px !important;
  width: 300px !important;
  z-index: 9 !important;
}